<head>
    {{>header}}
</head>
<body>
<div class="header">
        <img src="/pantrylogo.jpeg" alt="Scottish Pantries Logo" style="height: 100px;">
        <h1>Scottish Pantry Network</h1>
</div>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a placerat quam, quis sagittis massa. Vestibulum vel purus ac mauris hendrerit tempus at pulvinar neque. Ut eget dolor a lorem lobortis euismod. Curabitur sit amet porttitor ex. Sed sagittis porta arcu a rutrum. In congue vitae risus eu feugiat. Sed in iaculis nibh. Nulla facilisi. Cras vel lorem et arcu lobortis interdum. Sed quis nunc pulvinar, sodales orci id, scelerisque nibh. Nullam vehicula tincidunt laoreet. Donec risus odio, euismod in justo eu, pellentesque dapibus urna. Curabitur tristique gravida orci, ut aliquam libero vulputate at. Sed ligula orci, pellentesque vel dolor ut, tempor malesuada felis.

Aliquam varius lorem eu lectus vulputate, tristique consequat lectus congue. Nam suscipit lorem metus, a posuere sapien pharetra at. Vestibulum vel nisi magna. Nullam pretium condimentum scelerisque. Pellentesque mattis felis risus, in pulvinar lacus fermentum ac. Quisque finibus placerat leo eu euismod. Vivamus nec purus imperdiet, cursus diam in, feugiat urna. Integer sit amet rutrum arcu, in commodo nisl. Donec efficitur neque sit amet odio dapibus lobortis.

Curabitur commodo dui non augue ultrices tincidunt id eu nunc. Proin mi lectus, aliquet sed magna vitae, eleifend porttitor velit. Aliquam finibus, lectus non ullamcorper hendrerit, mauris orci interdum sem, tempus cursus nisl lorem eu nisl. Morbi et ipsum eu ligula iaculis bibendum. Mauris nec neque ligula. Fusce elementum arcu sed quam auctor vulputate. Nunc ac dui nisl. Vivamus sit amet tellus iaculis dui dignissim varius vitae vel ex. Nam scelerisque pharetra augue. Vestibulum sem sem, laoreet id sapien eu, euismod rhoncus enim.

Phasellus sed metus congue elit consequat iaculis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis interdum, felis vitae commodo ultricies, purus nunc consectetur tellus, posuere egestas ex metus eget quam. Fusce suscipit nec quam a rutrum. Donec sit amet mi nisi. Praesent pretium lorem non tempus mattis. Quisque aliquam libero ac accumsan vulputate. Suspendisse vehicula quam leo, non aliquet erat volutpat sed. Etiam sodales volutpat nisl, nec vehicula dolor sagittis vitae.

Curabitur varius mattis felis, fermentum condimentum arcu feugiat et. Nunc sed velit egestas, lacinia massa egestas, condimentum urna. Fusce eu rutrum diam, in tempor est. Etiam facilisis tincidunt imperdiet. Maecenas vulputate lectus ac orci rutrum condimentum. Nulla tristique mi quis rutrum gravida. Nam sit amet aliquam tortor. Donec id nisi mauris. Morbi elit massa, maximus in mauris at, interdum consequat mauris. Mauris pretium tortor ex, eget volutpat sapien tincidunt ut. Donec eget neque blandit, ultrices urna non, feugiat felis. Curabitur rutrum sollicitudin purus non feugiat.</p>
</body>
